<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ValsGarden</title>
        {% load static %}
        <link rel="icon" href="{% static 'img/icono.jpeg' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            .error-control{
                border: 1px solid red;
            }

            label.error{
                color: red;
                width: 200px;
                font-size: 0.8em;
                margin-top:-5px;
                margin-bottom:10px;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <script>
            $(function(){ 
                $("#formulario").validate({ 
                    rules:{
                        idPlanta: "required",
                        imagen: "required",
                        nombre: "required",
                        categoria: "required",
                        stock: "required",
                        precio: "precio"
                    },
                    messages:{
                        idPlanta:{
                            required: 'Ingrese Id Planta',
                        },
                        imagen:{
                            required: 'Seleccionar imagen',
                        },
                        nombre:{
                            required: 'Ingrese nombre',
                        },
                        categoria:{
                            required: 'Seleccione categoria',
                        },
                        stock: {
                            required: 'Ingresar stock',
                        },
                        precio: {
                            required: 'Ingresar precio',
                        }
                    }
                })
            })
        </script>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/icono.jpeg' %}"  width="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    {% include 'menuAdmin.html' %}
                {% else %}
                    {% include 'menuCliente.html' %}
                {% endif %}
            {% else %}
                {% include 'menuGeneral.html' %}
            {% endif %}

        </nav>

        <main class="container">
            <h2>Creando Planta</h2>
            <br>

            <form action="#" method="POST" enctype="multipart/form-data" id="formulario">
                {% csrf_token %}

                <div class="form-group">
                    {{ plantaform.idPlanta.label }}
                    {{ plantaform.idPlanta }}
                </div>

                <div class="form-group">
                    {{ plantaform.imagen.label }}
                    {{ plantaform.imagen }}
                </div>

                <div class="form-group">
                    {{ plantaform.nombre.label }}
                    {{ plantaform.nombre }}
                </div>

                <div class="form-group">
                    {{ plantaform.categoria.label }}
                    {{ plantaform.categoria }}
                </div>

                <div class="form-group">
                    {{ plantaform.stock.label }}
                    {{ plantaform.stock }}
                </div>
                
                <div class="form-group">
                    {{ plantaform.precio.label }}
                    {{ plantaform.precio }}
                </div>
                <input type="submit" value="Almacenar" class="btn btn-success">
            </form>
        </main>
</body>
</html>