<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ValsGarden</title>
        {% load static %}
        <link rel="icon" href="{% static 'img/icono.jpeg' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
    
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    
    </head>
    
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/icono.jpeg' %}" width="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    {% include 'menuAdmin.html' %}
                {% else %}
                    {% include 'menuCliente.html' %}
                {% endif %}
            {% else %}
                {% include 'menuGeneral.html' %}
            {% endif %}
        </nav>

        <main class="container">
            <h2>Eliminando Planta</h2>
            <br>
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="idPlanta">Id Planta: </label>
                    {{ planta.idPlanta }}
                </div>

                <div class="form-group">
                    <label for="imagen">Imagen: </label>
                    {{ planta.imagen }}
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    {{ planta.nombre }}
                </div>

                <div class="form-group">
                    <label for="categoria">Categoria: </label>
                    {{ planta.categoria }}
                </div>

                <div class="form-group">
                    <label for="stock">Stock: </label>
                    {{ planta.stock }}
                </div>

                <div class="form-group">
                    <label for="precio">Precio: </label>
                    {{ planta.precio }}
                </div>

                {% if planta.imagen %}
                    <img src="{{ planta.imagen.url }}" style="width: 80px; height: 80px;">
                 {% else %}
                    <h5 style="color:red">Producto sin foto</h5>
                {% endif %}

                <br> <br>
                <input type="submit" value="Confirma Eliminación?" name="elimina" class="btn btn-outline-danger">
            </form>
        </main>
<body>  
</body>
</html>